
#menu{
    min-height: 825px;
}
#menu h4{
    margin-top: 20px;
    margin-bottom: 20px;

}
#menu p{
    margin-top: 15px;
}
.written-by{
    margin-right: 420px;

}

#user-page-header{
    text-align: center;
    margin-top:0;
}

.rounded-circle.z-depth-0{
    width: 40px;
    height: 40px;

}

#blogpost-header{
    margin-top:100px;
}

.form-group-user-button{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.top5-border{
   padding: 10px;
    //border-color: #aab8c2;
    //border-style: solid;
    padding: 0;
    margin-bottom: 20px;
}

#username-next-to-avatar{
    margin-right:10px;
}

.top5-border a{
    color:white;
    text-decoration: none;
}

.top5-border a:hover{
    color: black;
    text-decoration: none;
    transition: color .3s ease-in-out;

}

#user-name-display{
    text-align: center;
}

.top5img{
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    background-size: cover;
    display: inline-block;

}
.top5-title{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    display:inline;
    margin-left: 30px;

}

.menu-user{
    float:left;
    padding-right: 30px;
    color:red;

}
.menu-date{
    margin-left:40px;
}

.public-user-name{
    margin-top: 0%;
}

#content{
    margin-top:5%;
}


.results{
    padding-bottom: 1.75rem;
    margin-bottom: 3.75rem;
    border-bottom: 1px solid #aab8c2;
}

.nav-item.avatar{
    margin-right: 20px;

}

.nav-item.avatar img{
    margin-right:5px;
}
.title{
    font-family: Helvetica Neue LT,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -.025rem;
    margin-top:5%;
    margin-left: 28%;
    padding: 0;
    word-break: break-word;
    display:block;
    color:#657786;
    transition: color .3s ease-in-out;
    text-decoration: none;
}

.title:hover{
    text-decoration: none;
    color:black;
}

/*Title in content */

.navbar-brand{
    margin-left: 40px;

}

.col-8 h3{
    text-align: center;
}

.col-8 p{
    text-align: center;
}

#date{
    font-style: italic;
}

#edit-button{
    margin-left: 700px;
}
#small-avatar{
    border-radius: 50% !important;
    width:30px;
    height:30px;
    display:inline-block;
    margin-left:1%;
    margin-bottom:2%
}

#profileImage{
    border-radius: 50% !important;
    width: 200px;
    height: 200px;
    margin-left:auto;
    margin-right: auto;
    background-size: cover;
    display:block;
    margin-bottom: 2rem;
    margin-top: 40px;

}
